/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --accent-color-base: #353430;
  --accent-color-font-border: #353430;
  --accent-color-font-light: #353430;
  --accent-color-font-title: #ffc2e6;
  --accent-color-shadow: #ff8dcb;
  --accent-color-background: #fff1f7;
  --accent-color--border-opacity: rgba(50, 49, 45, 0.4);

  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

.theme-light .elem-dark-rec::after {
  content: "";
  width: 9px;
  height: 9px;
  background-color: #ff0070;
  position: absolute;
  top: 6px;
  left: 41px;
  border-radius: 50%;
  box-shadow: 1px 1px 1 1 #ff0070;
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем переменные светлой темы */
    --accent-color-base: #353430;
    --accent-color-font-border: #353430;
    --accent-color-font-light: #353430;
    --accent-color-font-title: #ffc2e6;
    --accent-color-shadow: #ff8dcb;
    --accent-color-background: #fff1f7;
    --accent-color--border-opacity: rgba(50, 49, 45, 0.4);
  }
}
