/*
  
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color-base: #353430;
  --accent-color-font-border: #353430;
  --accent-color-font-light: #353430;
  --accent-color-font-title: #ffc2e6;
  --accent-color-shadow: #ff8dcb;
  --accent-color-background: #fff1f7;
  --accent-color--border-opacity: rgba(50, 49, 45, 0.4);
}